# Web Client Environment Variables

REACT_APP_USE_LOCAL_DB=true

# Sets browser for client to open in eg. 'Google Chrome' | 'Firefox Developer Edition' | 'Safari' | 'Brave Browser' (name is OS dependent)
BROWSER="Brave Browser"