@tailwind base;

h1 {
  @apply font-serif font-bold text-2xl text-gray-800;
}
h2 {
  @apply text-xl text-gray-800;
}
h3 {
  @apply text-lg text-gray-800;
}
p {
  @apply text-gray-900;
}
select {
  @apply mt-1 w-full py-1 text-sm px-3 bg-gray-100 rounded-md border leading-tight text-gray-900;
}
select:focus {
  @apply outline-none border-blue-600 bg-white shadow-outline;
}
textarea {
  @apply mt-1 w-full py-1 text-sm px-3 bg-gray-100 rounded-md border leading-tight text-gray-900;
}
textarea:focus {
  @apply outline-none border-blue-600 bg-white shadow-outline;
}
input {
  @apply mt-1 w-full py-1 text-sm px-3 bg-gray-100 rounded-md border leading-tight text-gray-900;
}
input:focus {
  @apply outline-none border-blue-600 bg-white shadow-outline;
}
label {
  @apply block text-gray-800 text-sm font-bold;
}

@tailwind components;
@tailwind utilities;
